/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
.corkboard {
    background-color: #D4A76A ;
}
h1{
    color:#553100;
}
#tan{
    background-color: #FFDBAA;
    margin-top:0;
    width: 100%;
}

button{
    text-align: center;
    color: white;
    background-color: #553100;
    padding: 15px 32px;
    font-size: 25px;
    margin: auto;
    padding:10px;

}



.container{
    float:center; 
    margin:7px;
}
.smalltxt{
    font-size: 15px;
}
.card{
    background-color: white;
    text-decoration-color: black;
    text-align:center;
    width: 25%;
    height: 15%;
    margin: auto;
    float: center;
}
#small{
    width:25%;
    height: 15%;
    font-size: 25px;
}

#large{
    width:75%;
    height: 15%;
    font-size: 25px;
}
